# 2. Functional Requirements - Application Front-End
2.1 Transaction Details Module

In [1]:
import mysql.connector as mysql
from mysql.connector import Error
import numpy as np
import pandas as pd
from getpass import getpass
import os
from dotenv import dotenv

ModuleNotFoundError: No module named 'dotenv'

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName("Test SQL app").getOrCreate()



df=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                   user="root",\
                                    password="a",\
                                    url="jdbc:mysql://localhost:3306/creditcard_capstone_",\
                                    dbtable="creditcard_capstone_.cdw_sapp_credit_card").load()
df.show(1)

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|      CUST_CC_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653312478046|20180813|123455692|        156|         Grocery|            91.08|         22562|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 1 row

# Functional Requirements 2.1
1) Used to display the transactions made by customers living in a given zip code for a given month and year.
Order by day in descending order.

In [3]:
def get_database_connection():
    connection = mysql.connect(host='localhost',
                                            database='creditcard_capstone_',
                                            user='root',
                                            password='a')
    if connection.is_connected():
        db_Info = connection.get_server_info()
    #cursor = connection.cursor()
    return(connection)

In [4]:
def total_cust():
    
    connection = get_database_connection()
    cursor = connection.cursor()

    zip_code = input("Enter Your Zip Code:  ")
    
    transaction_year = input("Enter the year for transactions records:  ")
        
    transaction_month = input("Enter the month in the form (XX): ").zfill(2)
    

    
    query ="SELECT CUST_CC_NO,date_format(TIMEID,'%Y-%m-%d') as transaction_date,CUST_SSN,BRANCH_CODE, \
    TRANSACTION_TYPE,TRANSACTION_VALUE,TRANSACTION_ID \
    FROM (SELECT ssn from cdw_sapp_customer where cust_zip = %s) as customer \
    join cdw_sapp_credit_card on cdw_sapp_credit_card.cust_ssn = customer.ssn\
    where SUBSTRING(timeid, 1, 4)  = %s and SUBSTRING(timeid, 5, 2)  = %s \
    Group by timeid desc;"

    cursor.execute(query,(zip_code,transaction_year,transaction_month,))
    records = cursor.fetchall()
    print("\n List of  customer transactions in a given Zip code : ")
    print("\n\n Customer no\t\tdate\t   cust_ssn  code  type       value  id")
    for row in records:
        print(row)
    connection.close()
total_cust()

Enter Your Zip Code:  39120
Enter the year for transactions records:  2018
Enter the month in the form (XX): 06

 List of  customer transactions in a given Zip code :


 Customer no		date	   cust_ssn  code  type       value  id
('4210653374740577', '2018-06-28', 123459564, 135, 'Gas', 34.86, 2206)
('4210653396189363', '2018-06-26', 123457139, 144, 'Test', 4.89, 15235)
('4210653323781193', '2018-06-25', 123455582, 3, 'Bills', 18.08, 22996)
('4210653323781193', '2018-06-24', 123455582, 79, 'Healthcare', 7.15, 23014)
('4210653362697310', '2018-06-23', 123459262, 54, 'Bills', 83.1, 3535)
('4210653374740577', '2018-06-22', 123459564, 109, 'Grocery', 89.21, 2190)
('4210653359877473', '2018-06-20', 123457519, 119, 'Healthcare', 51.64, 12663)
('4210653396189363', '2018-06-19', 123457139, 30, 'Education', 12.17, 15240)
('4210653323781193', '2018-06-18', 123455582, 46, 'Grocery', 61.46, 23021)
('4210653323781193', '2018-06-16', 123455582, 95, 'Test', 99.55, 23026)
('4210653362697310', '2018-06-15', 123459262, 46, 'Test', 61.84, 3522)
('4210653310061055', '2018-06-11', 123456100, 8, 'Test', 26.96, 20532)
('4210653323781193', '2018-06-09', 123455582, 69, 'Education', 21.07, 22977)
('4210653362697310', '2018-06-08', 123459262, 4, 'Grocery', 40.38, 3521)
('4210653310061055', '2018-06-07', 123456100, 93, 'Grocery', 42.57, 20531)
('4210653323781193', '2018-06-06', 123455582, 18, 'Grocery', 38.01, 23019)
('4210653323781193', '2018-06-05', 123455582, 60, 'Gas', 76.26, 23001)
('4210653374740577', '2018-06-04', 123459564, 24, 'Grocery', 4.94, 2182)
('4210653323781193', '2018-06-03', 123455582, 156, 'Healthcare', 25.49, 22973)
('4210653310061055', '2018-06-02', 123456100, 93, 'Test', 86.14, 20553)

# Functional Requirements 2.1
2)Used to display the number and total values of transactions for a given type.

In [5]:
def trans_value():
    transaction_type = input("Enter The Type Of Transaction :    ")
    flag = True
    connection = get_database_connection()
    cursor = connection.cursor()



    query = "SELECT count(*),sum(transaction_value) from cdw_sapp_credit_card where transaction_type = %s"

    cursor.execute(query,(transaction_type,))
    records = cursor.fetchall()
    print("\n Number of transactions and total value for transaction type " + transaction_type + " : ")
    print(records)
    connection.close()
    
trans_value()

Enter The Type Of Transaction :    healthcare

 Number of transactions and total value for transaction type healthcare :
[(6723, 340476.19999999896)]

# Functional Requirements 2.1
3) Used to display the number and total values of transactions for branches in a given state.

In [ ]:
def trans_value_branch():
    
    connection = get_database_connection()
    cursor = connection.cursor()
    
    flag = True


    query = "select distinct(branch_state) from cdw_sapp_branch"
    
    cursor.execute(query,)
    records = cursor.fetchall()
    

    
    branch_state = input("Enter the state in XX format :    ")
    
    query="select count(transaction_type) , sum(transaction_value) from cdw_sapp_credit_card \
                   join cdw_sapp_branch on cdw_sapp_branch.branch_code = cdw_sapp_credit_card.BRANCH_CODE \
                   where cdw_sapp_branch.branch_state = %s \
                   group by cdw_sapp_branch.branch_code;"
    cursor.execute(query,(branch_state,))
    records = cursor.fetchall()
    for row in records:
        print(row)
        
trans_value_branch()

# Functional Requirements 2.2
2.2 Customer Details Module
1) Used to check the existing account details of a customer.

In [ ]:
def cust_details():
    
    connection = get_database_connection()
    cursor = connection.cursor()
    
    flag = True
        
    ssn = getpass("Enter the last 4 digits of SSN :    " )
            
    lastname = input('Enter the lastname:   ')
    query="select * from cdw_sapp_customer where substr(ssn,6,4) = %s and Last_name = %s"
    
    cursor.execute(query,(ssn,lastname,))
    
    records = cursor.fetchall()
    
    print(records)
    cursor.close()    
    
cust_details()

# Functional Requirements 2.2
2) Used to modify the existing account details of a customer.

In [5]:
def modify_customer_details():
    
    
    connection = get_database_connection()
    cursor = connection.cursor()
    
        
    firstname = input("Enter the firstname :    " )
            
    lastname = input('Enter the lastname to modify:   ')
    query= "UPDATE cdw_sapp_customer SET Last_name = %s where first_name = %s"
    
    
    cursor.execute(query,(lastname,firstname,))
    records = cursor.fetchall()
    
    
    for row in records:
        print(row)
    connection.commit()
    print("last name updated")
    
    
    cursor.close()     
modify_customer_details()

Enter the firstname :    Alec
Enter the lastname to modify:   Seetha
last name updated


# Functional Requirements 2.2
3) Used to generate a monthly bill for a credit card number for a given month and year.

In [6]:
def monthly_bill():
    
    connection = get_database_connection()
    cursor = connection.cursor()
    
        
    creditcard = input("Enter the credit card no :    " )
    
    year = input("Enter the year for transactions records(yyyy):  ")
        
    month = input("Enter the year,month for the transaction (mm): ").zfill(2)
    
    query = 'select cc.cust_cc_no, cc.transaction_value,cc.timeid from cdw_sapp_credit_card as cc\
    join cdw_sapp_customer as c on c.ssn = cc.cust_ssn \
    where cc.cust_cc_no = %s and (SUBSTRING(timeid, 1, 4)=%s and substring(timeid,5,2) = %s)'
    


    cursor.execute(query,(creditcard,year,month,))
    records = cursor.fetchall()
    print("\n List of  customer transactions on a given credit card number : ")
    for row in records:
        print(row)
    connection.close()
monthly_bill()

Enter the credit card no :    4210653310061055
Enter the year for transactions records(yyyy):  2018
Enter the year,month for the transaction (mm): 12

 List of  customer transactions on a given credit card number :
('4210653310061055', 46.6, '20181205')
('4210653310061055', 9.57, '20181228')
('4210653310061055', 84.13, '20181210')


# Functional Requirements 2.2
4) Used to display the transactions made by a customer between two dates. Order by year, month, and day in descending order.

In [ ]:
def monthly_bill_per_year():
    
    connection = get_database_connection()
    cursor = connection.cursor()
    
        
    ssn = getpass("Enter the  SSN :    " )
            
    lastname = input('Enter the lastname:   ')
    
    start_date = input("Enter the start date for transactions recordsin the format YYYYMMDD:  ")
    end_date = input("Enter the end date in the form (YYYYMMDD): ")
            
   

    query = 'select cc.* from cdw_sapp_credit_card as cc\
    join cdw_sapp_customer as c on c.ssn = cc.cust_ssn \
    where cc.cust_ssn = %s and cc.timeid between  %s and %s \
    order by cc.timeid desc'


    cursor.execute(query,(ssn,start_date,end_date,))
    records = cursor.fetchall()
    print("\n List of  customer transactions on a given credit card number : ")
    for row in records:
        print(row)
    connection.close()
monthly_bill_per_year()

Enter the  SSN :    ········

# Functional Requirements 3.1
Find and plot transactions, showing which transaction type occurs most often